@CHARSET "UTF-8";

#wrap_sub {
	/* border: 5px solid black; */
	height: 100%;
	overflow: hidden;
	background: url(images/shadow.png);
	width: 971px;
	margin: 0px auto;
}

#wrap_sub #sub_img {
	/* border: 5px solid red;
		height: 200px; */
	
}

#wrap_sub #article {
	height: 100%;
	overflow: hidden;
}

#wrap_sub #nav {
	margin-left: 50px;
	/* border: 5px solid green; */
	height: 150px;
	float: left;
	width: 250px;
}
/* #nav ul li a{} */
#wrap_sub #nav a {
	display: block;
	padding: 12px 12px 12px 30px;
	border-bottom: 1px dotted #777;
	background: url(images/bullet.gif) no-repeat right center;
}

#wrap_sub #nav a:hover {
	color: orange;
	background: url(images/bullet_orange.gif) no-repeat right center;
}

#wrap_sub #section {
	margin-right: 50px;
	/* border: 5px solid green; */
	height: 750px;
	float: right;
	width: 570px;
}

#wrap_sub #section h1 {
	font-size: 2.5em;
	text-transform: capitalize;
	margin-bottom: 25px;
}

#wrap_sub #section figure {
	float: right;
	margin: 20px;
}

#wrap_sub #section figcaption {
	text-align: center;
	font-size: 1.5em;
	color: teal;
}

#wrap_sub #section p {
	text-align: justify;
}

/* 2페이지 시작 */
table {
	width: 488px;
	border-collapse: collapse;
}

td {
	border-bottom: 1px dashed #d3d5de;
	padding: 7px;
}

/* tr:nth-CHILD(even) td {
		background-color: green;
	}*/
tr:nth-CHILD(2n) td { /* 짝수 */
	background-color: white;
}

/* tr:nth-CHILD(odd) td {
		background-color: red;
	}*/
tr:nth-CHILD(2n+1) td { /* 홀수 */
	background-color: #f2f5ff;
}

tr:FIRST-CHILD td {
	background-color: blue;
	color: #fff;
	text-transform: capitalize;
}

tr:FIRST-CHILD td:FIRST-CHILD {
	border-radius: 7px 0px 0px 7px;
}

tr:FIRST-CHILD td:LAST-CHILD {
	border-radius: 0px 7px 7px 0px;
}

#wrap_sub #search {
	float: right;
}

#wrap_sub #page {
	text-align: center;
	clear: both;
	word-spacing: 15px;
	padding-top: 20px;
}

#wrap_sub #table_search {
	width: 458px;
	padding: 15px;
}

#wrap_sub #bt {
	background: blue;
	padding: 5px 15px;
	border: none;
	color: #fff;
}

#wrap_sub #search input[type="text"] {
	width: 111px;
	height: 25px;
	border: 1px solid blue;
}

#wrap_sub #page a:hover {
	text-decoration: underline;
	font-weight: bold;
}
/* 2페이지 끝 */